.form1{
    display: inline-block;
    padding: 0.5rem;
    margin-bottom: 8rem;
}

.container{
    align-items: center;
    text-align: center;
}

.f1-ip{
    border-color: violet;
    height: 2rem;
    width: 15rem;
}

.msg-p{
    color: green;
}
